.section-theme {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
        "section-body companies";
}
@media (min-width: 768px) {
    .section-theme {
        grid-template-rows: 1fr;
        grid-template-columns: auto auto;
        grid-template-areas: 
            "companies"
            "section-body";
    }
}
.section-body {
    grid-area: section-body;
}
.companies {
    grid-area: companies;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
        "company1 company2"
        "company3 company4";
}
.company1 {
    background-color: #0E1B26;
    width: 260px;
    height: 260px;
    color: white;
    grid-area: company1;
}
.company2 {
    background-color: #0E1B26;
    width: 260px;
    height: 260px;
    color: white;
    grid-area: company2;
}
.company3 {
    background-color: #0E1B26;
    width: 260px;
    height: 260px;
    color: white;
    grid-area: company3;
}
.company4 {
    background-color: #0E1B26;
    width: 260px;
    height: 260px;
    color: white;
    grid-area: company4;
}